.dialog-body {
  display: flex;
  flex-direction: column;

  mat-form-field {
    max-width: 50%;
  }

  .button-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}
