<div class="dialog">
  <h2 mat-dialog-title>{{ dialogTitle }}</h2>
  <mat-dialog-content>
    <div class="dialog-body">
      <div class="text">
        <p>
          Note: Columns are capped to the number of open streams.
        </p>
      </div>
      <mat-form-field>
        <input
          matInput
          type="number"
          placeholder="Adjust Size"
          [(ngModel)]="columns"
        />
      </mat-form-field>

      <div class="button-bar">
        <button
          class="mat-raised-button mat-primary"
          (click)="setColumnSize(columns)"
        >
          Change Size
        </button>
        <button
          class="mat-raised-button mat-primary"
          (click)="setColumnSize(1)"
        >
          Reset
        </button>
      </div>
    </div>
  </mat-dialog-content>
</div>
