.main-page {
  display: flex;
  flex-direction: column;
}

.page-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.toolbar-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
