.main-page {
  display: flex;
  flex-direction: row;
  min-height: 700px;
  justify-content: space-between;
  align-self: stretch;
}

.left-side {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  width: 100%;
}

.toolbar-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
