<div class="main-page">
  <div class="left-side">
    <mat-toolbar>
      <div class="toolbar-box">
        <p>
          Multi Stream
        </p>
        <!-- add stream dialog -->
        <button mat-button (click)="openAddDialog()">
          <mat-icon>add_circle</mat-icon>
          Add Stream
        </button>
        <!-- toggle chat button -->
        <button mat-button (click)="toggleChat()">
          <mat-slide-toggle [checked]="chatOpen" (change)="toggleChat($event)">
            Toggle Chat
          </mat-slide-toggle>
        </button>
        <button mat-button (click)="openAdjustStreamDialog()">
          <mat-icon>grid_on</mat-icon>
          Set Columns
        </button>
      </div>
    </mat-toolbar>
    <app-stream-container></app-stream-container>
  </div>
  <app-chat-view class="chat" *ngIf="chatOpen"></app-chat-view>
</div>
