<div class="dialog">
  <h2 mat-dialog-title>{{ dialogTitle }}</h2>
  <!-- the forms to fill -->
  <mat-dialog-content>
    <!-- input channel -->

    <!-- input streaming site -->
    <mat-form-field>
      <input matInput placeholder="Channel Name" />
      <mat-label>Streaming Site</mat-label>
      <!-- <mat-input></mat-input> -->
      <mat-select>
        <mat-option *ngFor="let site of serviceList" [value]="site">
          {{ site }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>

  <!-- action buttons -->
  <mat-dialog-actions>
    <div class="actions-container">
      <button class="mat-raised-button">Close</button>
      <button class="mat-raised-button mat-primary">Add</button>
    </div>
  </mat-dialog-actions>
</div>
